body{
	margin: 0em;
	padding: 0em;
}
header{
	background-color: lightblue;
	padding: 0.1em;
	margin: 0em;
}
header div{
	padding: 10px;
	display: inline-flex;
}
.datediv{
	float: right;
}
.datediv li{
	font-size: 20px;
	font-weight: bold;
	list-style: none;
}
main{
	margin: 0em 8em;
}
article{
	margin: 0em;
}
section{
	float: left;
	margin: 0em;
	padding: 1em;
}
.colorsection{
	width: 100%;
	background-color: orange;
}
.colorsection div{
	float: left;
}
.colorlist li{
	display: inline-flex;
	list-style: none;
	margin-right: 0.1em;
}
.colorlist li button{
	padding: 0.5em;
	border: none;
	color: white;
	background-color: black;
	font-size: 16px;
	border-radius: 10px;
}
.colorlist button:hover{
	cursor: pointer;
	opacity: 0.8;
}
.translate{
	color: white;
	background-color: green;
	border: none;
	border-radius: 5px;
	padding: 0.5em;
}
.translate:hover{
	cursor: pointer;
}
/* calculator section __________________________________________________________________________________*/
.calculatorsection{
	width: 100%;
}
.sliderdiv{
	width: 70%;
	background-color: blue;
	margin: 1em;
	float: left;
}
.slider{
	color: white;
	margin: 0.5em 1em;
}
.slider:hover{
	cursor: pointer;
}
.hidebutton, .movenumbers{
	padding: 0.5em;
	background-color: orange;
	border: none;
	border-radius: 5px;
}
.hidebutton:hover, .movenumbers:hover{
	cursor: pointer;
}
.five, .seven{
	font-size: 30px; 
	font-weight: bold; 
	background-color: green;
	height: 30px; 
	width: 30px;
}
.calculatordiv{
	margin: 1em;
	float: left;
	border: 1px solid black;
	width: 20%;
	border-radius: 5px;
	padding: 2px;
	background-color: orange;
}
.calculatordiv div{
	padding: 7px;
}
.resultdiv{
	background-color: white;
	border-radius: 5px;
}
.resultdiv p{
	margin: 0px;
}
.inputdiv p{
	float: left;
	width: 50%;
	text-align: center;
}
.inputdiv input{
	width: 50%;
	height: 20px;
	float: left;
	margin: 5px 15px;
	font-size: 18px;
	text-align: center;
	border: none;
}
.buttondiv button{
	padding: 5px;
	width: 100%;
	border-radius: 5px;
	border: none;
	margin: 2px;
	background-color: lightblue;
}
.buttondiv button:hover{
	cursor: pointer;
	opacity: 0.85;
}
/* Countries section ________________________________________________________________________________*/
.countriessection div{ 
	float: left;
	width: 250px;
	margin: 1em;
}
footer{
	width: 100%;
	background-color: darkblue;
	color: white;
	float: left;
}
footer p{
	margin: 1em 7em;
}
footer p a{
	color: lightblue;
	font-weight: bold;
	text-decoration: none;
}
footer p a:hover{
	color: green;
}